/* General dark theme */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Dark overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Styled Pop-up */
#popup-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    text-align: center;
    z-index: 1000;
    border: 1px solid #FFD700;
}

#popup-message p {
    font-size: 18px;
    color: #FFD700;
    margin-bottom: 20px;
}

/* Styled Sign-In button */
#signin-button {
    display: block;
    padding: 10px;
    text-align: center;
    /* margin-top: 10px;
    padding: 10px 20px; */
    /* width: 80%;
    max-width: 200px; */
}

/* User Info Section */
#user-info {
    display: none;
    margin-top: 20px;
    text-align: center;
}

#user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFD700;
}

/* Guest Button Styling */
#guest-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: #FFD700;
    border: 1px solid #FFD700;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#guest-button:hover {
    background-color: #555;
}