<script src="https://accounts.google.com/gsi/client" async defer></script>
<link rel="stylesheet" href="./assets/css/login.css">

<!-- Dark overlay -->
<div id="overlay"></div>

<!-- Styled Pop-up with Google Sign-In -->
<div id="popup-message">
    <p>You are not logged in!</p>
    <div id="g_id_onload" data-client_id="103572145818-otri5g8tq5uu1lv2il163tjti4na2v74.apps.googleusercontent.com"
        data-callback="handleCredentialResponse" data-auto_prompt="true">
    </div>
    <div id="signin-button" class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
        data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
    </div>
    <!-- Guest Login Button -->
    <button id="guest-button" onclick="continueAsGuest()">Continue as Guest</button>
</div>